# Configuración General de la Aplicación
VITE_APP_TITLE="SENA - Sistema de Juicios Evaluativos"
VITE_APP_SUBTITLE="Guía GA-220501096 • Modelo Relacional y Analítica de Formación Profesional"
VITE_APP_VERSION="1.0.0"

# Datos Institucionales
VITE_DEFAULT_REGIONAL="18 - REGIONAL CAQUETÁ"
VITE_DEFAULT_CENTRO="9516 - CENTRO TECNOLOGICO DE LA AMAZONIA"

# Puertos
VITE_PORT=5173
PORT=80
BACKEND_PORT=3001
VITE_API_URL="http://localhost:3001/api"

# Configuración Base de Datos PostgreSQL
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sena_juicios_db
